h1 {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white; /* Warna latar belakang elemen main */   
}

p {
    text-align: justify;
}

ol {
    list-style-type: circle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 20px; /* Atur jarak dari atas */
    margin-bottom: 20px; /* Atur jarak dari bawah */
    width: 40%; /* Mengatur lebar gambar menjadi 100% dari lebar parent element */
    height: auto; /* Menjaga rasio aspek gambar */
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #6f049d;
    color: #fff;
    border: 1px solid #fff;
}

body {
    border: 2px solid black;
    padding: 20px; /* Opsional: menambahkan padding agar konten tidak terlalu dekat dengan border */
    background-color: #ffe0b2; /* Warna kulit */
}

.container {
    border: 2px solid black;
    padding: 20px;
    background-color: white; /* Warna latar belakang elemen main */
}

p, ol, table {
    margin-bottom: 20px; /* Memberi jarak antara elemen-elemen */
}






